
.cart-overlay {
    padding-top: 233px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .cart {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 1.5rem;
  }
  
  .showCart {
    transform: translateX(0);
  }
  
  .transparentBcg {
    visibility: visible;
  }
  
  .close-cart {
    color: black;
    margin-top: 300px;
  }
  .close-cart .icon-close {
    font-size: 27px;
    display: flex;
    justify-content: center;
    
  }
  
  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  }
  .cart-content img {
    margin-top: 10px;
    width: 30%;
  }
  
  .clear-cart {
    border-radius: 10px;
    border-color: whitesmoke;
    color: black;
    background: #f1f1ef;
    padding: 8px;
  }
  
  .cart-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: none;
    background-color: whitesmoke;
    margin-top: 5px;
  }
  
  .info-item {
    padding: 30px;
  }
  
  .item-amount {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .cart-footer {
    margin-top: 50px;
    text-align: center;
  }
  
  .card {
    position: relative;
    border: none;
  }
  
  .cart-up, .cart-down, .remove-item {
    cursor: pointer;
  }
  
  .image-item{
    width: 20%;
margin-left: 2px;  }