.woman-section {
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 100%;
  margin-bottom: 100px;
}
@media only screen and (max-width: 768px) {
  .woman-section {
    width: 100%;
    text-align: center;
    height: 100%;
  }
}
.woman-section .link-view-all {
  border-bottom: 2px black solid;
  border: none;
}

.section-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: none;
  justify-content: flex-start;
  padding-top: 140px;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
<<<<<<< HEAD
  margin-left: 250px;
=======
  margin-left: 200px;
>>>>>>> 2bd25f1a4335c265e2946e97a79e8cf131e48e3e
  color: #000;
}

.woman-section .link-view-all:hover {
  color: grey;
}
.woman-section .grid-container-woman, .woman-section .grid-container-woman > * {
  width: 100%;
}
.woman-section .grid-container-woman > * {
  height: 100%;
  padding: 30px;
  background-color: white;
  
}
.woman-section .grid-container-woman {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px 40px;
  margin: 50px 0;
  padding: 0 250px;
}
@media only screen and (max-width: 945px) {
  .woman-section .grid-container-woman {
    padding: 0;
  }
}
@media only screen and (max-width: 2000px) {
  .woman-section .grid-container-woman {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 40px;
    margin: 50px 0;
    padding: 0 200px;
  }
}
 .name,.name-2 {
  font-size: 14px;
  text-align: center;
}


.woman-section .grid-container-woman .woman-img {
  width: 96%;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: left;
}

.woman-section .grid-container-woman .button {
  background-color: white;
}

@media only screen and (min-width:1700px) {
  .name {
    margin-top: 50px;
  }
}

.card-item{
  border-radius: 1%;
  transition: transform 0.35s ease-in-out;
  cursor:pointer;
  box-shadow:  -10px -10px 8px -6px rgb(219, 219, 219),
  10px 10px 8px -6px rgb(219, 219, 219),
  -10px 10px 8px -6px rgb(219, 219, 219),
  10px -10px 8px -6px rgb(219, 219, 219);
}

.name{
font-size: 16px;
display: flex;
justify-content: flex-start;
text-align: left;
color: rgb(59, 59, 59);
}

.name-2{
font-size: 13px;
display: flex;
justify-content: flex-start;
text-align: left;
color: rgb(109, 108, 108);
}



.card-item:hover {
-webkit-transform: scale(1.01);
transform: scale(1.02);
box-shadow:  -10px -10px 8px -6px rgb(216, 215, 215),
10px 10px 8px -6px rgb(204, 204, 204),
-10px 10px 8px -6px rgb(212, 211, 211),
10px -10px 8px -6px rgb(212, 212, 212);

}

.course-text{
display: flex;
justify-content: flex-start;
color: rgb(61, 99, 202);
}

.row-1{
width: 100%;
}

.row-2,.row-3,.row-4,.row-1{
height: 100%;
padding: 10px;
}

.price{
display: flex;
justify-content: flex-start;
margin-left: 5px;
}