

.fila-inicial-about{
    height: 300px;
    background-color: rgb(248, 249, 255);
}

.img-about{
    width: 80%;
    margin-top:200px ;
    margin-left: 200px;
}

.about-text{
    margin-top: 200px;
    font-size: 35px;
}

.cont-text{
    display: flex;
    justify-content: flex-end;
    padding: 0 400px;
    margin-bottom: 200px;
    margin-top: 70px;
}

.about-cont{
    height: 100%;
}

.text{
    font-size: 22px;
    margin-top: 50px;

}