


.img-about{
    width: 80%;
    margin-top:200px ;
    margin-left: 200px;
}

.about-text{
    margin-top: 130px;
    font-size: 35px;
}

.cont-text{
    display: flex;
    justify-content: flex-end;
    padding: 0 380px;
    margin-bottom: 200px;
    margin-top: 20px;
}

.about-cont{
    height: 100%;
}

.text{
    font-size: 22px;
    margin-top: 50px;

}