footer {
    padding: 60px 60px;
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
    padding-top: 20px;
  }
  footer li:hover {
    text-decoration: underline;
  }
  footer .brand-description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  footer .brand-description .footer-title-link {
    text-decoration: none;
    width: 100%;
    cursor: auto;
  }
  footer .brand-description .footer-title-link h1 {
    margin-top: 6px;
    font-size: 30px;
    color: #242323;
  }
  footer .brand-description .text-description {
    color: rgb(44, 43, 43);
    font-size: 16px;
    padding-right: 30px;
  }
  footer .brand-description .footer-icons {
    padding-left: 0;
    margin-top: 20px;
    line-height: 0.7;
    text-decoration: none;
    font-size: 35px;
  }
  footer .brand-description .footer-icons i {
    margin: 4px 9px;
    color: rgb(49, 47, 47);
  }
  footer .brand-info nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 14px;
  }
  @media only screen and (max-width: 980px) {
    footer .brand-info nav {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0;
    }
  }
  footer .brand-info nav .info-footer {
    list-style-type: none;
    padding: 0;
  }
  footer .brand-info nav .info-footer .title-nav {
    color: #383636;
    margin-top: 6px;
  }
  footer .brand-info nav .info-footer li {
    padding: 2px 2px;
  }
  footer .brand-info nav .info-footer li .footer-text-info {
    color: #201f1f;
    text-decoration: none;
  }
  footer .subfooter {
    border-top: 1.7px solid rgb(105, 105, 105);
  }
  footer .subfooter .footer-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: "Gowun Batang", serif;
    color: rgb(44, 42, 42);
    font-size: 11px;
    margin-top: 30px;
    padding-top: 10px;
  }
  footer .subfooter .country-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
  }